$(document).ready(function(){
  $("ul.list li").hide();

  function initialize(latitude, longitude) {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(latitude, longitude),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }

    var map = new google.maps.Map(mapCanvas, mapOptions)
    var page = $("body.page").attr("id")

    if(page === "compost_sites"){
      var cs = <%= CompostSite.all.to_json %>
    } else if (page === "food_donations"){
      var cs = <%= FoodDonation.all.to_json %>
    }

    cs.forEach(function(site){
      var lat = site.latitude
      var lon = site.longitude
        if(page === "food_donations"){
          var phone = '<p><b>Phone number:</b> '+site.phone_number+'</p>'
        } else {
          var phone = ""
        }

      var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h4 id="firstHeading" class="firstHeading">'+site.name+'</h4>'+
      '<div id="bodyContent">'+
      '<p><b>Address:</b> '+site.address+'</p>'+
      '<p><b>Hours:</b> '+site.hours+'</p>'+
            phone+
      '</div>'+
      '</div>';

      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });
      var myLatLng = new google.maps.LatLng(lat, lon)
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
      });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
    })
    google.maps.event.addListener(map, 'idle', function(ev){
      $("ul.list li").hide();
      var list = $("ul.list li");
      $.each(list, function(){
        var lat = parseFloat(this.attributes.class.value.split(" ")[0]);
        var lng = parseFloat(this.attributes.class.value.split(" ")[1]);
        var ne = map.getBounds().getNorthEast();
        var sw = map.getBounds().getSouthWest();
        var lat_min = sw.A;
        var lat_max = ne.A;
        var lng_min = sw.F;
        var lng_max = ne.F;
        if(lat > lat_min && lat < lat_max && lng > lng_min && lng < lng_max){
          $(this).show()
        }
      })
    });
  }

  function getLocation(){ navigator.geolocation.getCurrentPosition(function(position){
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
      new initialize(latitude, longitude);
    })
  }

 getLocation();

  $(".zip_search").on('click', function(event) {
    event.preventDefault();
    $('#map-canvas').empty();
    var zipcode = $("#zip_code").val()

    path = ("http://maps.googleapis.com/maps/api/geocode/json?address=" + zipcode);
    $.get(path, function(data) {
      var latitude = data["results"][0]["geometry"]["location"]["lat"];
      var longitude = data["results"][0]["geometry"]["location"]["lng"];
      new initialize(latitude, longitude);
    })
  })
})
