// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.navy ul li ul.submenu {
  margin-top: -10px;
}

div.img-box-4 .img-box-4-content {
  height: 165px;
}

div.img-box-4.text-center h3 {
  text-align: left;
  color: rgb(119, 119, 119);
  padding-left: 4%;
  margin-top: 35px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

div.img-box-4-item img.img-responsive {
  width: 260px;
  height: 173px;
}