<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>*ADD EXISTING MEMBER TO COMMUNITY*</h1>

    <p>
      Dear person,
      You have been invited to join, <%= @community.name %>.
    </p>
    <p>
      To login to the site, just follow this link: <a href= "http://give-a-fig.herokuapp.com/communities/<%= @community.id %>"><%= @community.name %></a>.

    </p>
  </body>
</html>
