<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Give a Fig!</h1>
    <p>
      You have been invited to <%= @community.name %>.
    </p>
    <p>
      To join the site, just follow this link:  <a href= "http://localhost:3000<%= @url%>"><%= @community.name %></a>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
