<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>*ADD NEW MEMBER TO COMMUNITY*</h1>
    <p>
      Welcome to Give-A-Fig! You have been invited to <%= @community.name %>.
    </p>
    <p>
      To login to the site, just follow this link:  <a href= "http://localhost:3000<%= @url%>"><%= @community.name %></a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
