<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @community.name.upcase %> on Give a Fig!</h1>
    <p>
    Thanks for requesting to Join this community.
    </p>
    <p>
      To login to the site and see perticipate in this community, just follow this link:  <a href= "http://localhost:3000<%= @url%>"><%= @community.name %></a>.
    </p>
    <p>Thanks for using Give-a-Fig and have a great day!</p>
  </body>
</html>
