<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We are sorry!</h1>
    <p>The group you requested to join is private.</p>
    <p>However, you can create your own community here: <a href= "http://localhost:3000<%= @url%>">Give-a-Fig</a>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
