<div class="page-heading-two">
    <div class="container">
  
    <h2>Give-a-Fig Communities</h2>
  </div>
</div>

<div class="container">

<table style="font-size: 1.5em; width: 100%;">
<% if user_signed_in? %>
<tr>
  <th>Community Name</th>
  <th>Community Description</th>
  <th>Community Location</th>
</tr>
  <% @communities.each do |community| %>
    <tr>
    <td><%= link_to community.name, community_path(community) %></td>
    <td><%= community.tag %></td>  <td><%= community.pickup_site %></td>
    </tr>
  <% end %>
<% end %>
</table>

</div>
<div class="entire-footer">
  <%= render :partial => "layouts/footer" %>
</div>