<div class="container">
<h1>All My Communities</h1>
<ul>
<% if user_signed_in? %>
  <% current_user.communities.each do |community| %>
    <li><%= link_to community.name, community_path(community) %></li>
  <% end %>
<% end %>
</ul>
</div>
<div class="entire-footer">
  <%= render :partial => "layouts/footer" %>
</div>

