
  <div class="page-heading-two">
    <div class="container">
      <h2>Have Extra Food You Are Not Foing to Use?
       Share it With Your Friends and Community!</h2>
    </div>
   </div> 
   <div class="container">
      <p style="font-size: 1.5em;">Help reduce your food waste by sharing extra food with your friends and family. Create groups of people in your community and post food you are not going to use. Make a drop off location such as your work or school, or decide on a convenient way to meet up when someone claims your food.</p>
  
  <div class="divider-4"></div>
  
  <center>
    <h1>Create a New Community</h1>
  </center>
    <%= render 'form' %>
    
</div>

<%= render :partial => "layouts/footer" %>