<div class="container">
<div>
<h2>Have extra food you are not going to use?</h2>
<h3> Share it With Your Friends and Community!</h3>
<p>Help reduce your food waste by sharing extra food with your friends and family. You can create public or private groups of people in your community and post whenever you have food you are not going to use. Make a permanent drop off location such as your work or school, or decide on a convenient way to meet up when someone claims your food.   </p>
</div>

<div>
<h1>Create a New Community</h1>
  <%= render 'form' %>
</div>
</div>
<div class="entire-footer">
  <%= render :partial => "layouts/footer" %>
</div>