
if ($("#join-button").size() !== 0) {
  
$("#join-button").replaceWith('<input type="submit" name="commit" value="Leave" id="leave-button">');
$("form").append('<h1>YOU LEFT</h1>');
}
else{
  $("#leave-button").replaceWith('<input type="submit" name="commit" value="Join" id="join-button">');
  $("form").append('<h1>YOU JOINED</h1>');
}


