<div class="quote-two">
  <!-- Container -->
<!--   <div class="container"> -->
    <!-- Quote Two Content -->
    <div class="quote-two-content">
      <span>&#8220;</span>
      <div class="owl-carousel" data-items="1" data-auto-play="true" data-pagination="true" data-single-item="true">
        <!-- Item -->
        <div class="item">
          <h3 style="background: rgba(54, 25, 25, .5);">Each year, Americans waste 33 million tons of food. </h3>
        </div>
        <div class="item">
          <h3 style="background: rgba(54, 25, 25, .5);">Every year, consumers in industrialized countries waste almost as much food as the entire net food production of sub-Saharan Africa (222 million vs. 230 million tons)</h3>
        </div>
        <div class="item">
          <h3 style="background: rgba(54, 25, 25, .5);">In the USA, organic waste is the second highest component of landfills, which are the largest source of methane emissions.</h3>
        </div>
      </div>
    </div>
<!--   </div> -->
</div>
