<!-- Foot Starts -->
<html>
<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
          <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">Copyright &copy; 2015 - Give a Fig</p>
      <ul class="list-inline pull-right">
        <!-- List -->
        <li><a href="index.html">Home</a><li>
        <li><a href="service.html">Service</a></li>
        <li><a href="feature.html">Features</a></li>
        <li><a href="about-us.html">About</a></li>
        <li><a href="contact-us.html">Contact</a></li>
      </ul>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>

<!-- Footer Ends -->
