<!-- Foot Starts -->
<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <!-- Heading -->
      <br>
      <center><img src="/assets/fork_spoon.png" height="80" width="80" margin-bottom="0"><div class="lobster"><p><h3>Don't waste your food.</h3></p></div>
    </div>
  </div>
</div>
<!-- Foot Ends -->

<!-- Footer Starts -->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">
          <!-- Add links to GitHub -->
          <i class="fa fa-user"></i> <a href="https://github.com/jonathantow" target="_blank">Jon Tow</a>
          <i class="fa fa-user"></i> <a href="https://github.com/hannahlw" target="_blank">Hannah Westheimer</a>
          <i class="fa fa-user"></i> <a href="https://github.com/stefsic" target="_blank">Stefania Sicurelli</a>
          <i class="fa fa-user"></i> <a href="https://github.com/summermin" target="_blank">Summer Min</a></p>
      <p class="pull-right">Copyright &copy; 2015 – Give a Fig</p>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>
<!-- Footer Ends -->
