<!-- Foot Starts -->

<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;</h5>
          <p>Don't waste your food.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">Copyright &copy; 2015 - Give a Fig</p>
      <ul class="list-inline pull-right">
        <!-- List -->
        <li><a href="/">Home</a><li>
        <li><a href="/community">Community</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>

<!-- Footer Ends -->
