<!-- Foot Starts -->

<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- Foot Item -->
        <div class="foot-item">
          <!-- Heading -->
          <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;</h5>
          <p>Give a fig - don't waste your food.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Foot Ends -->

<!-- Footer Starts -->

<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <center>
      <p class="pull-left">All Content © 2015 by SS SM HW JT</p>

      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>

<!-- Footer Ends -->
