<!-- Foot Starts -->
<div class="foot">
  <!-- Container -->
  <div class="container">
    <div class="row">
      <!-- Heading -->
      <br>
      <center><img src="/assets/fork_spoon.png" height="80" width="80" margin-bottom="0"><div class="lobster"><p><h3>Don't waste your food.</h3></p></div>
    </div>
  </div>
</div>
<!-- Foot Ends -->

<!-- Footer Starts -->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Footer Content -->
      <!-- Paragraph -->
      <p class="pull-left">
          <!-- Add links to GitHub -->
          <i class="fa fa-user"></i> Jon Tow
          <i class="fa fa-user"></i> Hannah Westheimer
          <i class="fa fa-user"></i> Stefania Sicurelli
          <i class="fa fa-user"></i> Summer Min</p>
      <p class="pull-right">Copyright &copy; 2015 – Give a Fig</p>
      <!-- Clearfix -->
      <div class="clearfix"></div>
  </div>
</footer>
<!-- Footer Ends -->
