<div class="quote-two">
  <!-- Container -->
  <div class="container">
    <!-- Quote Two Content -->
    <div class="quote-two-content">
      <span>&#8220;</span>
      <div class="owl-carousel" data-items="1" data-auto-play="true" data-pagination="true" data-single-item="true">
        <!-- Item -->
        <div class="item">
          <h3>At vero eos et accusamus et iusto odio dignissimos ducimus indignation qui blanditiis praesentium voluptatum.</h3>
          - Helon Thomas
        </div>
        <div class="item">
          <h3>Indignation qui blanditiis praesentium voluptatum at vero eos et accusamus et iusto odio dignissimos ducimus.</h3>
          - Helon Peter
        </div>
        <div class="item">
          <h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</h3>
          - John Mark
        </div>
      </div>
    </div>
  </div>
</div>
